:root {
  --shadow: #c7c9cb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  background-color: #171821;
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #171821;
  height: 100%;
  width: 20%;
  align-items: center;
  border-right: 0.3px solid #21222D;
}

header {
  border: 0.3px solid #21222D;
}

.logo {
  display: flex;
  font-weight: 100;
  font-size: 35px;
  margin: 0;
  padding: 0;
  border-bottom: 0.3px solid #21222D;
  width: 100%;
}

.logo p {
  margin-left: 15%;
}

.nav {
  margin-top: 25px;
}

.botao {
  background-color: #21222D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #2c2d3a;
}

.icone {
  font-size: 20px;
  margin-right: 10px;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

nav {
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

.social-icons {
  margin-left: auto;
  list-style-type: none;
  padding: 0;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 18px;
  height: auto;
}

h1 {
  padding: 10px;
  margin-top: -30px;
}

.card-container {
  margin-top: -25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width:100%;
  max-width: 1200px;
  padding: 10px;
  box-sizing: border-box;
}

.card {
  width: calc(25% - 20px);
  padding: 20px;
  background-color: #21222D;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 6px;
  height: auto;
  object-fit: cover;
}

.card-title {
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-author {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
}

.card-pags {
  font-size: 14px;
  margin-top: 20px;
  color: #666;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-icon {
  margin-top: 10px;

}

.card-icon img {
  width: 30px;
  height: auto;
}

.bg {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow: auto;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal {
  display: none; /* Ocultar por padrão */
  position: fixed;
  width: 400px;
  height: 100%;
  /* overflow: hidden; */
}

.modal-content {
  background-color: #171821;
  margin: 15% auto;
  padding: 20px;
  padding-right: 8px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  color: #FFFFFF;
}

.modal-content p {
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 24px;
  margin-top: 1.3px;
  text-align: left;
}

form {
  display: grid;
  gap: 10px;
}

.twocol {
  display: flex;
}

label {
  font-size: 14px;
  color: #FFFFFF;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
  width: calc(100% - 10px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #21222da9;
  background-color: #21222D;
  color: #FFFFFF;
  border-radius: 4px;
}

/* Estilo para o select */
select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #21222da9;
  background-color: #21222D;
  width: 130px;
  color: #FFFFFF;
  border-radius: 4px;
  height: 36px;
  font-size: 16px; /* Tamanho da fonte */
}

.pgs {
  margin-left: 10px;
}
/* Estilo para as opções do select */
select option {
  background-color: #21222D;
  color: #FFFFFF;
}


button[type="submit"] {
  background-color: #21222D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  
}

button[type="submit"]:hover {
  background-color: #2c2d3a;
}

.close {
  color: rgb(227, 227, 227);
  float: right;
  font-size: 28px;
  padding-right: 10px;
  margin-top: -5px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.slider1 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
}

.drt {
  margin-top: 1.5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  padding-top: 5px;
  margin-right: 0;
  padding-bottom: 10px;
  height: 29px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #21222D;
  transition: .4s;
  margin-right: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input[type="checkbox"]:checked + .slider {
  background-color: #21222D;
}

input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 0px white;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
